
<script type="text/javascript">
window.staticImages = {
  searchImage: "<%= asset_url("search.png") %>",
  userCoverImage: "<%= asset_url("user_cover_image.png") %>",
  defaultAvatar: "<%= asset_url("avatar.png")%>",
  leftChevron: "<%= asset_url("left_chevron.png")%>",
  rightChevron: "<%= asset_url("right_chevron.png")%>",
  leftArrow: "<%= asset_url("leftarrow.png")%>"
}

</script>

    <main id=root><h1>If you are reading this, you screwed up.</h1></main>
